{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Members {% endblock %}</h1>
    <div class="content">
        {% for member in members %}
            <div class="member">
                <p><b>#{{ member.id }}</b></p>
                <b>
                    <p class="name">
                        <a href="{{ url_for('member', member_id=member.id)}}">
                            {{ member.firstname }} {{ member.lastname }}
                        </a>
                    </p>
                </b>
                <p>{{ member.email }}</p>
                <p>{{ member.age }} years old.</p>
                <p>Joined: {{ member.created_at }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}